{% extends "email_notification.html" %}

{% block message %}
	Your Denali Climbing Permit Portal account has been reset. You will need to click 
	the button below to reset your password. Your account will remain disabled 
	until you follow the link and change your password. <strong>Note: the reset 
	link will only work if you are connected to the NPS network</strong>. 
	You can connect to the network directly or use the VPN.
{% endblock %}
{% block link_block %}
	<h3 style="width:100%; margin-bottom:20px">Username: {{ username }}</h3>
	{{ super() }}
{% endblock %}