:root {
	--weekly-view-modal-header-height: 75px;
}

label {
	margin-bottom: 0 !important;
}

.main-content-wrapper {
	display: flex;
	padding: 0;
	/*background: linear-gradient(2deg, #219ebc, #f9d67fb8);*/

}
/* ---- calendar --- */
.calendar-container {
	/*flex: 2 1 66.667%;*/
	height: 100%;
	padding: 20px;
	overflow-y: auto;
}
.calendar-header-container {
	width: 100%;
}

.month-navigation-container {
	width: 100%;
	display: flex;
	justify-content: center;
	color: #00679b;
}
.month-label {
	text-align: center;
	font-size: 20px;
	margin: 0 20px; /*set space between nav buttons and label*/
	line-height: 40px; /* center text vertically*/
}
.month-navigation-container > .show-previous-month-button {
	padding: 12px;
	height: 40px;
	width: 40px;
	transition: 0.5s all;
}
.month-navigation-container > .show-previous-month-button > i {
	color: #00679b;
	position: relative;
    top: -4px; /* chevrons needs to be offset for some reason*/
}
.month-navigation-container > .show-previous-month-button:not(:disabled):hover, 
.month-navigation-container > .show-previous-month-button:not(:disabled):focus{
	border-radius: 40px;
	background-color: rgba(255, 255, 255, 0.3);
}

.weekday-label-container {
	width: 100%;
	height: 40px;
	display: inline-flex;
	display: flex;
    column-gap: 2px;
}
.weekday-label {
	width: 13.5%;/* ~1/7 */
	text-align: center;
	font-size: 14px;
	height: 100%;
}
.calendar-body-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	column-gap: 2px;
	row-gap: 2px;
}
.calendar-cell {
	display: flex;
	flex-direction: column;
	height: 145px;
	width: 13.5%;
	background-color: rgb(235,235,235);/*rgb(235 235 235 / 70%);*/
	color: #00679b;
	cursor: pointer;
	border: 2px solid rgba(0,0,0,0);
	transition: 0.2s border;
}
.calendar-cell-date-label {
	flex: 0 0 20px;
	width: 100%;
	text-align: right;
	font-size: 12px;
	padding-right: 5px;
}
.calendar-cell.disabled {
	background-color: rgb(220,220,220);/*rgb(235 235 235 / 50%);*/
	pointer-events: none;
	cursor: unset;
}
.calendar-cell.disabled,
.calendar-cell.disabled .calendar-cell-date-label {
	color: #626262;
}
.calendar-cell-body {
	flex: 1 1 100%;
	max-height: calc(100% - 20px);
	width: 100%;
}
.calendar-cell.selected {
	border: 3px solid #f28100;
}
.calendar-cell:not(.disabled):not(.selected):hover,
.calendar-cell.expand-button-hover:not(.selected) {
	border: 2px solid #faaf00;
}
.briefing-calendar-entry {
	text-overflow: ellipsis;
	font-size: 12px;
	margin-bottom: 5px;
	padding: 0 5px;
}
.briefing-calendar-entry.summary {
	font-weight: bold;
}
/*^^^^^^--calendar--^^^^^^*/


/*------ details sidebar ----*/
#briefing-details-sidebar {
	/*flex: 1 1 33.333;*/
	height: 100%;
	background-color: rgb(235,235,235);
	color: #00679b;
	display: flex;
	flex-direction: column;
	padding: 20px 0px 0px 20px;
	transition: max-width 0.3s ease-in;
	right: 0;/*for .expanded*/
}
#briefing-details-sidebar.expanded {
	position: absolute;
	max-width: 50%;
	box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 30%);
}
/*toggle visibility of expand/contract buttons*/
#briefing-details-sidebar:not(.expanded) .contract-briefing-details-button,
#briefing-details-sidebar.expanded .expand-briefing-details-button {
/*	opacity: 0;
	pointer-events: none;*/
	display: none;
}

.briefing-details-sidebar-header-container {
	display: flex;
	flex-wrap: wrap;
}
.briefing-details-sidebar-header-container .icon-button {
	width: 70px;
}
.briefing-details-sidebar-header {
	/*max-width: calc(100% - 80px);*/
	text-align: center;
	text-wrap: balance;
	/*flex: 0 0 auto;*/
}

.briefing-details-sidebar-body {
	width: 100%;
	flex: 1 1 100%;
	display: flex;
	overflow-y: auto;
	padding-top: 10px;
	scroll-behavior: smooth;
}
.time-label-container {
	height: 100%;
	flex: 0 0 40px;
	display: grid; /*the only display property that seems to vertically stack these correctly*/
	grid-template-rows: repeat(22, 40px);
}
.time-label {
	font-size: 12px;
	position: relative;
	top: -17px;
	cursor: pointer; /*make sure button still looks clickable*/
}
.schedule-container {
	flex: 1 1 100%;
}
.schedule-background,
.schedule-ui {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: repeat(22, 40px);
}
#briefing-details-sidebar .half-hour-block {
	width: 100%;
	height: 30px;
	color: unset;
	padding: 0;
	position: relative;
	cursor: pointer;
/*	z-index: 3;*/
}
.schedule-background .half-hour-block:nth-child(odd) {
	border-top: 1px solid rgb(185,185,185);
}
.schedule-background .half-hour-block:nth-child(even) {
	border-top: 1px solid rgb(205,205,205);
}	
.schedule-ui-container {
	display: grid;
	height: 100%;
	width: 100%;
	position: relative;
	top: -100%; /*overlay with background*/
	z-index: 2;
/*	grid-template-columns: repeat(5, 1fr);*/
	grid-template-rows: repeat(22, 40px); /*this should maybe be set at runtime based on open/close time user setting*/
	grid-auto-columns: 1fr;
	pointer-events: none;
}

.briefing-appointment-container {
	position: relative;
	color: white;
	border-radius: 7px;
	margin: 1px;
	grid-column-end: fit-content;/*set default*/
	min-width: 1px;
	cursor: pointer;
	padding: 10px;
	transition: all 0.3s;
	pointer-events: all;
}
.briefing-appointment-container,
.color-guide-tooltip .color-swatch {
	background-color: var(--ui-primary-highlight-color);
}

/*colors get assigned to each guiding company in briefings.js*/
.briefing-appointment-container.alt-color-1,
.color-guide-tooltip .color-swatch.alt-color-1 {
	background-color: var(--sunrise-linear-gradient-blue);
	color: black;
}
.briefing-appointment-container.alt-color-2,
.color-guide-tooltip .color-swatch.alt-color-2 {
	background-color: var(--ui-primary-text-color);
}
.briefing-appointment-container.alt-color-3,
.color-guide-tooltip .color-swatch.alt-color-3 {
	background-color: var(--ui-secondary-highlight-color);
	color: black;
}
.briefing-appointment-container.alt-color-4,
.color-guide-tooltip .color-swatch.alt-color-4 {
	background-color: var(--ui-bg-dark-blue);
}
.briefing-appointment-container.alt-color-5,
.color-guide-tooltip .color-swatch.alt-color-5 {
	background-color: var(--ui-desaturated-color);
}
.briefing-appointment-container.alt-color-6,
.color-guide-tooltip .color-swatch.alt-color-6 {
	background-color: var(--sunrise-linear-gradient-yellow);
	color: black;
}
.briefing-appointment-container.alt-color-7,
.color-guide-tooltip .color-swatch.alt-color-7 {
	background-color: var(--ui-primary-color);
}
.briefing-appointment-container.alt-color-8,
.color-guide-tooltip .color-swatch.alt-color-8 {
	background-color: #f98455;
	color: black;
}
/*palette: https://coolors.co/f28100-f9b455-5abccd-ffe7aa-00679b-023047-faaf00-4d819b-219ebc*/
.color-guide-tooltip {
	background-color: var(--ui-bg-lighter-gray);
	box-shadow: 0px 2px 13px 2px rgb(0 0 0 / 30%);
	padding: .75rem 1.5rem;
	border-radius: .5rem;
}
.color-guide-tooltip .color-swatch {
	width: 1.5rem;
	margin-right: 2rem;
}
.color-guide-tooltip ul {
	list-style: none;
	padding-inline-start: 0;
}
.color-guide-tooltip ul > li {
	display: flex;
	margin-bottom: .5rem;
}
.color-guide-tooltip ul > li > * {
	height: 1.5rem;
	line-height: 1.5rem;
}

.briefing-appointment-container.selected {
	z-index: 100;
	box-shadow: 0px 2px 13px 2px rgb(0 0 0 / 30%);
	/*background-color: #f69800;*/
}
#briefing-details-sidebar .briefing-appointment-container:not(.selected):hover {
	/*background-color: #f69800;*/
	transform: translateY(-5px);
	box-shadow: 0px 2px 13px 2px rgb(0 0 0 / 30%);
}
.briefing-appointment-header,
.briefing-appointment-text {
	font-size: 14px;
	margin-bottom: 5px;
	text-overflow: ellipsis;
	width: calc(100%); /*calc allows text-overflow to work*/
	overflow: hidden;
	white-space: nowrap;
	cursor: inherit;
}
.briefing-appointment-header {
	width: 100%;
	font-weight: bold;
}
.briefing-appointment-text {
	font-size: 14px;
}

/* --------------View notes button/tootlip --------------- */
.view-notes-button > span {
	color: white;
	text-align: right;
	font-weight: bold;
}
.tooltip-container {
    position: relative
}
.tooltip-container .tooltip {
    pointer-events: none;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    height: fit-content;
    width: max-content;
}
.briefing-appointment-container .tooltip {
	padding: 10px;
	border-radius: 5px;
	color: white;
	background-color: var(--ui-bg-dark-blue);
	max-width: 200px;
}
.briefing-appointment-container .tooltip-container:before {
    content: "";
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--ui-bg-dark-blue) transparent;
    left: 50%;
    transform: translate(-50%, -100%);
    top: 100%;
}
.tooltip-container .tooltip,
.tooltip-container:before {
	transition: opacity .25s;
	opacity: 0;
	position: absolute;
	z-index: 10;
}

.tooltip-container:focus .tooltip,
.tooltip-container:focus:before,
.tooltip-container.has-focus .tooltip,
.tooltip-container.has-focus:before{
    opacity: 1;
    pointer-events: auto;
}

/* --------------View notes button/tootlip --------------- */


.potential-appointment-container {
	border: 5px solid #219EBC;/*#43d8ef;*/
	border-radius: 10px;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1000;
	grid-column-end: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	/*grid-column-end: span 4;*/
}

.appointment-details-drawer {
	flex: 1 1 auto;
	max-height: 400px;
	height: 0px;
	overflow: hidden; /* necessary to hide children when height is 0*/
	flex-wrap: wrap;
	margin-left: -20px; /*span the whole sidebar, including the time label gutter*/
	box-shadow: -3px -1px 12px 2px rgb(0 0 0 / 0); /* not necessary if I keep the gradient background */
	margin-top: 10px;
	transition: all 0.3s;
	/*background-color: rgba(255,255,255, 0.5);*/
}
.appointment-details-drawer.show {
	height: 100%; /*will only be 50% because it's flexed*/
	box-shadow: -3px -1px 12px 2px rgb(0 0 0 / 30%);
	border: 2px solid #f28100;
	border-top: none;
}
.appointment-details-header-container {
	width: 100%;
	height: 50px;
	padding: 5px 10px;
	display: flex;
	justify-content: space-between;
	color: white;
	background-color: #f28100;
}
.appointment-details-header {
	line-height: 40px;
	flex: 1 1 100%;
}
.appointment-details-button-container {
	color: white;
	display: flex;
	justify-content: flex-end;
	flex: 1 1 0%; 
}
.appointment-details-button-container button {
	margin-left: 10px;
}
.appointment-details-button-container button > .fas,
.appointment-details-button-container button label,
.appointment-details-header-container button.close {
	color: white;
	opacity: 1;
}
.appointment-details-body {
	padding: 10px 0px 10px 20px;
	overflow: auto;
	max-height: calc(100% - 50px);
}
#appointment-details-route-list-container {
	color: #888888;
}
.expedition-info-link-container {
	margin-top: -.75rem;
	width: 100%;
	transition: 0.25s all ease;
	margin-bottom: 1.25rem;
}

/*^^^^^^--details slider --^^^^^^*/


/*------ weekly view modal ----*/
.show-weekly-view-modal-button {
	width: 18px;
	opacity: 0;
	transition: all 0.25s ease;
}
.show-weekly-view-modal-button:hover,
.show-weekly-view-modal-button.show {
	opacity: 1;
}
#weekly-view-modal > .modal-dialog {
	max-width: 90%;
	height: 80%;
}
#weekly-view-modal .modal-header {
	width: 100%;
	height: var(--weekly-view-modal-header-height);
}
#weekly-view-modal .modal-header .month-navigation-container > button {
	position: relative;
	top: -5px;
}
/*#weekly-view-modal .modal-header .month-navigation-container > button > label,
#weekly-view-modal .modal-header .month-navigation-container > button > i {
	position: relative;
	top: -10px;
	color: var(--ui-primary-color);
}*/
#weekly-view-modal > .modal-dialog > .modal-content {
	height: 100%;
	overflow-y: auto;
	flex-direction: row;
	flex-wrap: wrap;
}
#weekly-view-modal .modal-body {
	width: 100%;
	height: calc(100% - var(--weekly-view-modal-header-height));
	background-color: #f0f0f0;
	overflow: auto;
}
#weekly-view-modal .briefing-details-sidebar-body {
	overflow-y: unset;
}

.weekly-view-modal-day-col {
	min-width: 400px;
	padding: .5rem 1rem;
	border-radius: 10px;
	background-color: #fff;
	margin-right: 0.5rem;
}
.weekly-view-modal-day-label {
	height: 2rem;
	line-height: 2rem;
	width: 100%;
	text-align: center;
	color: var(--ui-primary-text-color);
}
.weekly-briefings-container {
	width: 100%;
	display: flex;
}
#weekly-view-modal .schedule-container {
	position: relative;
} 
#weekly-view-modal .schedule-background,
#weekly-view-modal .schedule-ui-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
/*^^^^^^ weekly view modal ^^^^^^*/
