.main-content-wrapper {
	background: linear-gradient(2deg, #44a9ba, #ffe7aad1);
}
.sidebar-nav-group .nav-item.selected > a::after {
	border-right: 15px solid #adcbb4;
}

.climberdb-data-table-wrapper {
	display: flex;
	justify-content: center;
	position: relative;
	flex-wrap: wrap;
}
.climberdb-data-table-wrapper > *:not(.page-break) {
	max-width: 800px;
}
.input-field {
	background-color: #ffffff2c;
}
.config-value-cell {
	min-width: 300px;
}
.money-field-container {
	position: relative;
}
.money-field-container::before {
	position: absolute;
	content: "$";
	left: 15px;
	padding-top: 1px; /*for some reason inputs have 1px padding on top so set the same to match*/
}
.money-field-container > .input-field {
	text-indent: 15px;
}