@import './climberdb.css';

.main-content-wrapper {
	background-image: linear-gradient(0deg, var(--sunrise-linear-gradient-colors));
}
.sidebar-nav-group .nav-item.selected > a::after {
	border-right: 15px solid #a4d0be;
}

.climberdb-data-table-wrapper {
	display: flex;
	justify-content: center;
	position: relative;
	flex-wrap: wrap;
}
.climberdb-data-table-wrapper > *:not(.page-break) {
	max-width: 800px;
}
.input-field {
	background-color: #ffffff2c;
}
.config-value-cell {
	min-width: 300px;
}
.climberdb-data-table tbody tr td:not(.no-border).config-value-cell,
.climberdb-data-table tbody tr td:not(.no-border).config-value-cell > span {
	padding: 0;
}
.money-field-container {
	position: relative;
}
.money-field-container::before {
	position: absolute;
	content: "$";
	left: 15px;
	padding-top: 1px; /*for some reason inputs have 1px padding on top so set the same to match*/
	color: var(--ui-bg-dark-blue);
}
.money-field-container > .input-field {
	text-indent: 15px;
}
.uneditable .input-field {
	margin-bottom: 0;
	background-color: #ffffff00;
}

.uneditable .icon-button {
	opacity: 0;
	pointer-events: none;
	transition: 0.3s all;
	margin-right: 20px;
}
.climberdb-data-table tr:hover .edit-button,
.edit-button:focus {/* add focus for tabbing*/
	opacity: 1;
	pointer-events: all;
}
.edit-button-table-cell {
	width: 70px;
}
/*.main-content-wrapper {
	padding-top: 0;
}
#save-button-container {
	position: sticky;
	top: 0;
	padding-top: 10px;
}*/
#save-button {
	/*make save button darker because gradient background 
	doesn't provide enough contrast*/
	color: #007497;
}