:root {
	--search-bar-padding: 20px;
}
.main-content-wrapper {
	display: flex;
	flex-wrap: nowrap;
	padding: 0;
}
.fuzzy-search-bar {
	text-indent: 0;
	margin-bottom: var(--search-bar-padding);
}
.query-options-sidebar {
	height: 100%;
	overflow-y: auto;
/*	border: 0 10px 0 0 #ddd;*/
	position: relative;
	z-index: 2;
	box-shadow: 0px 14px 12px 8px #00000033;
	padding: 20px;
}
.query-parameters-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	max-height: 300px;/*height: 300px seems to be the only thing that makes overflow of ul work*/
	overflow-y: auto;
}
#query-option-list {
	list-style: none;
	padding: 0;
	width: 100%;
	overflow: auto;
	height: calc(100% - var(--fuzzy-search-bar-height) - var(--search-bar-padding));
	margin: 0;
}
.query-option {
	padding: 0 15px;
	position: relative;
	height: 60px; 	
	line-height: 60px;
	width:  100%;
	margin-bottom: 2px;
	background-color: #ddd;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	z-index: 0;
	transition: 0.5s all;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.query-option:not(.selected):hover {
	background-color: rgba(220, 220, 220);
}
.query-option.selected {
	box-shadow: 1px 4px 5px 3px rgb(0 0 0 / 15%);
	z-index: 1;
	justify-content: space-between;
	cursor: unset;
	pointer-events: none;
}
.query-option.selected, 
.query-option.selected {
	color: #219ebc;
}
.query-details-container {
	padding: 30px;
	display: flex;
	flex-direction: column;
	max-height: 100%;
	background: linear-gradient(2deg, #44a9ba, #ffe7aad1);
}

.query-result-container {
	display: flex;
	justify-content: center;
	position: relative;
	margin-top: 15px;
	max-height: calc(100% - 100px);
	border-radius: 10px;
	overflow-y: auto;
}
.table-row-counter-wrapper {
	margin-right: 20px;
	line-height: 40px;
	font-weight: bold;
}
.climberdb-data-table {
	max-height: 100%;
	min-width: 100%;
}
.climberdb-data-table th {
	background-color: #0a4664;
}
.climberdb-data-table tbody {
	overflow-y: auto;
	min-width: 100%;
	color: #023047;
}

.climberdb-data-table tbody td {
	padding: 2px;
}
.climberdb-data-table tbody td span.cell-content {
	background: #ffffff20;
	padding-left: 10px;
	padding-right: 10px;
}
.climberdb-data-table tbody .cell-content a {
	color: #00679b;
}
.climberdb-data-table tbody tr:hover td > span.cell-content {
  background-color: #ffffff30;
}

/*select2*/
.select2-container {
	max-width: calc(100% - 20px);
}
.input-field,
.select2-container,
.select2-container .selection {
	min-height: 38px;
}
/*for some stupid reason, the select2 field as it appears when empty doesn't extend the full 
height of the container, so make sure it aligns with the bottom of the rest of the fields*/
.climberdb-select2.is-empty ~ .select2-container > .selection {
	position: relative;
	bottom: -5px; 
}

.query-parameter-field-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}
/*.query-parameter-option-list-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	padding: 0 15px;
}*/
.query-parameter-option-container {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	overflow-y: auto;
	width: 100%;
}
.query-parameter-option-container .show-query-parameter-button {
	height: 40px;
	border-radius: 40px;
	margin-right: 15px;
	padding: 5px 10px;
	border: solid transparent 1.5px;
	transition: all 0.3s;
}
.query-parameter-option-container .show-query-parameter-button:hover, 
.query-parameter-option-container .show-query-parameter-button:focus {
	border-color: var(--ui-primary-text-color);
	cursor: pointer;
}
.show-query-parameter-button::after {
	content: " +";
	font-weight: bold;
	opacity: 0;
	transition: 0.3s opacity
}
.show-query-parameter-button:hover::after,
.show-query-parameter-button:focus::after {
	opacity: 1;
}

.field-container {
	max-height: 66px;
}
.icon-button.hide-query-parameter-button {
	opacity: 0;
	background: none;
	color: var(--ui-primary-text-color);
	height: 1.75rem;
	width: 1.75rem;
	border-radius: 1.75rem;
	transition: all 0.3s;
}
.field-container:hover .icon-button.hide-query-parameter-button, 
.input-field:focus ~ .icon-button.hide-query-parameter-button {
	opacity: 1;
	background: rgba(255, 255, 255, 0.3);
}