:root {
	--search-bar-padding: 20px;
	--query-parameter-container-height: 400px;
	--sidebar-collapse-transition-length: 0.25s;
}
@import './climberdb.css';

.main-content-wrapper {
	display: flex;
	flex-wrap: nowrap;
	padding: 0;
}
.fuzzy-search-bar {
	text-indent: 0;
	margin-bottom: var(--search-bar-padding);
	padding-right: 60px;
	transition: opacity var(--sidebar-collapse-transition-length);
}
.query-options-sidebar {
	height: 100%;
	overflow-y: auto;
/*	border: 0 10px 0 0 #ddd;*/
	position: relative;
	z-index: 2;
	box-shadow: 0px 14px 12px 8px #00000033;
	padding: 20px;
	transition: width 0.25;
}
.query-parameters-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	max-height: var(--query-parameter-container-height);/*height: 300px seems to be the only thing that makes overflow of ul work*/
	min-height: 45px;
	overflow-y: auto;
	align-content: flex-start;
}
#query-option-list {
	list-style: none;
	padding: 0;
	width: 100%;
	overflow: auto;
	height: calc(100% - var(--fuzzy-search-bar-height) - var(--search-bar-padding));
	margin: 0;
}
.query-option {
	padding: 0 15px;
	position: relative;
	height: 60px; 	
	line-height: 60px;
	width:  100%;
	margin-bottom: 2px;
	background-color: #ddd;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	z-index: 0;
	transition: all 0.25s;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.query-option:not(.selected):hover {
	background-color: rgba(220, 220, 220);
}
.query-option.selected {
	box-shadow: 1px 4px 5px 3px rgb(0 0 0 / 15%);
	z-index: 1;
	justify-content: space-between;
	cursor: unset;
	pointer-events: none;
}
.query-option.selected, 
.query-option.selected {
	color: #219ebc;
}
.query-details-container {
	padding: 30px;
	display: flex;
	flex-direction: column;
	max-height: 100%;
	background: linear-gradient(2deg, var(--sunrise-linear-gradient-colors))/*#44a9ba, #ffe7aad1);*/
}

/*collapse styling*/
.change-query-option-sidebar-size-button {
	position: absolute;
	right: var(--search-bar-padding);
}
.query-options-sidebar.collapsed {
	max-width: 60px;
}
.query-options-sidebar.collapsed .fuzzy-search-bar{
	opacity: 0;
	padding-right: 0;
}
.query-options-sidebar.collapsed #query-option-list {
	overflow: hidden;
}
.query-options-sidebar.collapsed .query-option {
	height: 0px;
	color: #00679b00;
	box-shadow: none;
}
.query-options-sidebar.collapsed .change-query-option-sidebar-size-button {
	left: 15px;
}

.query-result-container {
	display: flex;
	justify-content: center;
	position: relative;
	margin-top: 15px;
	max-height: calc(100% - 100px);
	border-radius: 10px;
	overflow-y: auto;
}
.table-row-counter-wrapper {
	margin-right: 20px;
	line-height: 40px;
	font-weight: bold;
}
.climberdb-data-table {
	max-height: 100%;
	min-width: 100%;
}
.climberdb-data-table th {
	background-color: #0a4664;
}
.climberdb-data-table tbody {
	overflow-y: auto;
	min-width: 100%;
	color: #023047;
}

.climberdb-data-table tbody td {
	padding: 2px;
}
.climberdb-data-table tbody td span.cell-content {
	background: #ffffff20;
	padding-left: 10px;
	padding-right: 10px;
}
.climberdb-data-table tbody .cell-content a {
	color: #00679b;
}
.climberdb-data-table tbody tr:hover td > span.cell-content {
  background-color: #ffffff30;
}

select.input-field.default, 
.input-field::placeholder, 
textarea.narrative-field::placeholder {
    color: hsla(1, 0%, 10%, 0.5); /*make placeholder darker for darker background*/
}

/*select2*/
.select2-container {
	max-width: calc(100% - 20px);
}
.input-field,
.select2-container,
.select2-container .selection {
	min-height: 38px;
}
/*for some stupid reason, the select2 field as it appears when empty doesn't extend the full 
height of the container, so make sure it aligns with the bottom of the rest of the fields*/
.climberdb-select2.is-empty ~ .select2-container > .selection {
	position: relative;
	bottom: -5px; 
}

.query-parameter-field-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}
/*.query-parameter-option-list-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	padding: 0 15px;
}*/
.query-parameter-option-container {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	overflow-y: auto;
	width: 100%;
}
.query-parameter-option-container .show-query-parameter-button {
	height: 40px;
	border-radius: 40px;
	margin-right: 15px;
	padding: 5px 10px;
	border: solid transparent 1.5px;
	transition: all 0.3s;
}
.query-parameter-option-container .show-query-parameter-button:hover, 
.query-parameter-option-container .show-query-parameter-button:focus {
	border-color: var(--ui-primary-text-color);
	cursor: pointer;
}
.show-query-parameter-button::after {
	content: " +";
	font-weight: bold;
	opacity: 0;
	transition: 0.3s opacity
}
.show-query-parameter-button:hover::after,
.show-query-parameter-button:focus::after {
	opacity: 1;
}

.field-container {
	max-height: 66px;
}
.text-only-button.add-remove-all-multiselect-options-button {
	font-size: 12px;
	color: var(--ui-primary-text-color);
	position: absolute;
	top: 0;
	right: 45px;
	opacity: 0;
	pointer-events: none;
	transition: 0.3s opacity .15s ease;
}
.field-container:hover .add-remove-all-multiselect-options-button {
	opacity: 1;
	pointer-events: all;
}
.icon-button.hide-query-parameter-button,
.icon-button.remove-stat-row-button {
	opacity: 0;
	background: none;
	color: var(--ui-primary-text-color);
	height: 1.75rem;
	width: 1.75rem;
	border-radius: 1.75rem;
	transition: all 0.3s;
}
.field-container:hover .icon-button.hide-query-parameter-button, 
.stat-field-row:hover .icon-button.remove-stat-row-button, 
.input-field:focus ~ .icon-button.hide-query-parameter-button,
.input-field:focus ~ .icon-button.remove-stat-row-button {
	opacity: 1;
	background: rgba(255, 255, 255, 0.3);
}

.stat-field-row {
	width: 100%;
	display: flex;
	margin-top: 20px;
}
.stat-field-row.cloneable {
	display: none;
}

/*resize bar*/
.dragbar.vertical-resize {
	width: 100%;
	height: 10px;
	margin-top: 15px;
	padding: 2px 0;
	cursor: row-resize;
}
.visible-dragbar {
	height: 100%;
	width: 100%;
	background-color: var(--ui-primary-color);
	opacity: 0.1;
	transition: 0.2s all ease-in 0.1s;
}
/*.dragbar.vertical-resize:hover,
.dragbar.vertical-resize.resizing {
	padding: 2px 0; /* increase height of bar on hover 
}*/
.dragbar:hover > .visible-dragbar,
.dragbar.resizing > .visible-dragbar {
	opacity: 1;
}

.query-option-double-value-container {
	height: 100%;
}
/*for datetime fields, if the operator is BETWEEN and therefore 
2 fields are showing, make the field-container extra-wide*/
@media (min-width: 768px) {
	.field-container.is-between {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.field-container.is-between .datetime-query-operator {
		align-self: center;
	}
	.field-container.is-between .query-option-double-value-container,
	.field-container.is-between .double-value-field {
		display: flex;
		flex: 1 1 auto;
		max-width: 100%;
	}
	.field-container.is-between .query-option-double-value-container span {
		margin-right: 10px;
		margin-left: 10px;
		align-self: center;
	}
}
@media (min-width: 992px) {
	.field-container.is-between {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.field-container.is-between .datetime-query-operator {
		align-self: flex-end;
	}
}
