@import './climberdb.css';

.main-content-wrapper {
	background-image: linear-gradient(0deg, var(--sunrise-linear-gradient-colors));
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	padding-top: 0;
	padding-left: 30px;
}
.sidebar-nav-group .nav-item.selected > a::after {
	border-right: 15px solid #8bc0b3;
}

.climberdb-data-table-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	/* padding-left: 100px;*/
}

.climberdb-data-table tbody > tr:not(.uneditable) td:not(.no-border) {
  background-color: rgba(255, 182, 0, 0.65);
}
.climberdb-data-table tbody > tr:not(.uneditable) td:not(.no-border) > span{
  background-color: transparent;
}
.climberdb-data-table-wrapper table { 
	border-collapse: separate;
	border-radius: 10px;
	border-spacing: 0px;
/*	transform: translateX(105px); /*offset for the usually hidden edit buttons*/
	width: 100%;
}

/*----- input field -------*/
.input-field:focus, /*override default styling*/
.input-field:hover {
	border-bottom: none;
}
.uneditable td > span > .input-field,
td.uneditable > span > .input-field {
	pointer-events: none !important;
	background-color: transparent;
	appearance: none !important; /*hide select's caret*/
}
.uneditable .icon-button {
	opacity: 0;
	pointer-events: none;
	transition: 0.3s all;
	margin-right: 20px;
}
tr:not(.uneditable) td:not(.uneditable) .input-field {
	background-color: #ffffff2c;
}
select.input-field {
	min-width: 150px;
}
tr.inactive .input-field {
	color: #023047b0;
}
/*^^^^^^^ input filed ^^^^^^^^^*/

.climberdb-data-table tr:hover .edit-button,
.edit-button:focus {/* add focus for tabbing*/
	opacity: 1;
	pointer-events: all;
}
.climberdb-data-table tbody tr td:not(.no-border) > span {
	background-color: #ffffff20; 
	padding: 10px 0;
}
.climberdb-data-table tbody tr:hover td:not(.no-border) > span {
  background-color: #219ebc40;
}

.no-login-role-column select{
	min-width: 200px;
}

.add-user-button-wrapper {
/*	d-flex justify-content-center pt-2*/
	display: flex;
	justify-content: center;
	padding-top: 16px;
	width: 100%;
}
/*.climberdb-data-table thead .clear-background-header,
.climberdb-data-table thead .clear-background-header th {*/
.clear-background-header,
.clear-background-header th {
	color: unset;
	background-color: transparent;
	font-size: 16px;
	padding-top: 10px;
}
.clear-background-header.main-table-header th {
	background-color: var(--sunrise-linear-gradient-blue);
}