<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\climberdb\git\venv\Scripts\python.exe|D:\climberdb\git\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>

        <caching enabled="true">
           <profiles>
              <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
           </profiles>
        </caching>
    
    </system.webServer>
</configuration>
        